@charset "ISO-8859-1";
.ulnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position:fixed; top:2%; right:2%;
}

.linav {
  float: left;
}

.lianav {
  display: block;
  color:beige;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}
div {
	width: 500px;
	display: inline-block;
}
img {
	height: 20%;
	width: 20%;
}
table {
	width 20%;
}

.posters {
	position:fixed; top:2%; right:2%;
}
.tdr {
	text-align:right;
}
.right {
  float: right;
}
.img {
	width: 125px;
	height: 200px;
	float: right;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}